.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-text-1 {
  width: 740px;
  font-size: 3.75rem;
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 39px auto 54px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  width: 168px;
  margin: 8px auto 0;
}

.u-section-1 .u-line-1 {
  width: 228px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  width: 206px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 526px;
  background-image: linear-gradient(#2cccc4, #db545a);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 3.75rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-9 {
  width: 168px;
  margin: 8px auto 0;
}

.u-section-1 .u-line-2 {
  width: 228px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  line-height: 2;
  margin: 20px 56px 0 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 526px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 3.75rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-13 {
  width: 168px;
  margin: 8px auto 0;
}

.u-section-1 .u-line-3 {
  width: 228px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-14 {
  line-height: 2;
  margin: 20px 38px 0 55px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-1 .u-line-1 {
    width: 223px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-1 .u-line-2 {
    width: 223px;
  }

  .u-section-1 .u-text-10 {
    width: 206px;
    margin-left: 0;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 434px;
  }

  .u-section-1 .u-line-3 {
    width: 223px;
  }

  .u-section-1 .u-text-14 {
    width: 206px;
    margin-left: 22px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-1 .u-text-5 {
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-1 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 3rem;
  }
}